div.logo{
    position:relative;
    width:50px;
    height:50px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-top:0px;
}
nav{
    display:block;
    text-align:center;
    padding-left:10px;
}
a:link{
    color: black;
}
a:visited{
    color: green;
}
a:hover{
    color: orange;
}
a:active{
    color:indigo;
}
.headersearch{
    text-align:right;
    padding-left:100px;
}
article{
    text-align:left;
}
.footersearch{
    text-align:right;
}