div.logo{
    position:relative;
    width:50px;
    height:50px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-top:0px;
}
nav{
    display:block;
    text-align:center;
    padding-left:10px;
}
a:link{
    color: black;
}
a:visited{
    color: green;
}
a:hover{
    color: orange;
}
a:active{
    color:indigo;
}
.headersearch{
    text-align:right;
    padding-left:100px;
}
article{
    text-align:left;
}
#homesprite{
    background: url('../images/homesprite.png') no-repeat 0 0;
    width: 88px;
    height: 31px;
    animation: HomeSpriteAnimation 1s steps(4) infinite;
    display: block;
}
@keyframes HomeSpriteAnimation {
    from{background-position-x: 0px;}
    to{background-position-x: -352px;}
}
.footersearch{
    text-align:right;
}
.transparent{
    width: 50px;
    height: 56px;
}
.facebook {
	background: url('../images/social-icons.png') no-repeat -1px -1px;
	width: 42px;
	height: 76px;
    display: block;
    position: absolute;
    
}
.facebook:hover{
    background: url('../images/social-icons.png') no-repeat -1px -241px;
	width: 42px;
    height: 76px;
    display: block;
    position: absolute;
}
.twitter {
    background: url('../images/social-icons.png') no-repeat -220px -4px;
	width: 84px;
	height: 70px;
    display: block;
    position: absolute;
    left: 52px;
}
.twitter:hover{
    background: url('../images/social-icons.png') no-repeat -220px -244px;
	width: 84px;
    height: 70px;
    display: block;
    position: absolute;
    left: 52px;
}
.linkedin {
	background: url('../images/social-icons.png') no-repeat -464px -1px;
	width: 76px;
	height: 76px;
    display: block;
    position: absolute;
    left: 136px;
}
.linkedin:hover{
    background: url('../images/social-icons.png') no-repeat -464px -241px;
	width: 76px;
    height: 76px;
    display: block;
    position: absolute;
    left: 136px;
}