div.logo{
    position:relative;
    width:50px;
    height:50px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-top:0px;
}
.navigate{
    display:block;
    text-align:center;
    padding-left:10px;
}
.headersearch{
    text-align:right;
    padding-left:100px;
}
.text{
    text-align:left;
}
.footersearch{
    text-align:right;
}